.Winery {
  text-align: left;
  padding-bottom: 50px;
}

.Winery-name {
  text-align: center;
  font-size: 30px;
}

.Winery-location {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

.Winery-description {
  text-align: left;
  padding-left: 20px;
}

.Winery-vintages {
  text-align: left;
  padding-left: 20px;
  padding-top: 30px;
}
