.Wine {
  text-align: left;
}

.Wine-name {
  text-align: center;
  font-size: 30px;
}

.Winery-name {
  text-align: center;
  font-size: 25px;
  font-style: italic;
}

.Wine-rating {
  text-align: left;
  padding-left: 20px;
}

.Wine-rating-text {
  text-align: left;
  padding-left: 20px;
  font-style: italic;
}
